.product{
    width: 100%;
    min-height: 500px;
}
.product h2{
    text-align: center;
    margin-top: 30px;
    font-size: 35px;
}
.product__card{
    width: 100%;
    height: 550px;
    display: flex;
    overflow: auto;
    gap: 40px;
}
.product__item{
    width: 400px;
    height: 100%;
}
.product__item p{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
    text-decoration: #000;
}
@media screen and (max-width: 800px) {
    .product__card{
        height: 400px;
    }
    .product__item img{
        height: 100%;
    }
    .product__item{
        height: 350px;
    }
}