.footer{
    width: 100%;
    height: 100vh;
}
.footer__top{
    width: 100%;
    height: 280px;
    background: #000;
    margin-top: 50px;
    display: flex;
}
.footertop__title{
    width: 50%;
    height: 100%;
    border-right: 1px solid #636363;
}
.footertop__title h2{
    color: #fff;
    text-align: center;
    padding-top: 50px;
    font-size: 27px;
}
.footertop__title p{
    color: #fff;
    text-align: center;
    padding-top: 20px;
}
.footertop__icon{
    width: 300px;
    height: 50px;
    display: block;
    margin: auto;
    margin-top: 30px;
padding-left: 70px;
}
.footertop__icon svg{
    font-size: 30px;
    gap: 10px;
    color: #fff;
}
.footer__input{
    width: 50%;
    height: 100%;
}
.footer__input h1{
    color: #fff;
    text-align: center;
    padding-top: 50px;
    font-size: 27px;
}
.footer__input p{
    color: #fff;
    text-align: center;
    padding-top: 20px;
}
.footertop__input{
    width: 390px;
    height: 50px;
    background: #fff;
    display: block;
    margin: auto;
    margin-top: 20px;

}
.footertop__input input{
    width: 65%;
    height: 100%;
    padding-left: 20px;
    
}
.footertop__input button{
    width: 35%;
    height: 100%;
    border: none;
    color: #fff;
    background: #C8102E;
}
.footer__midle{
    width: 100%;
    min-height: 550px;
    display: flex;
}
.footer__collection{
    width: 25%;
    height: 100%;
    
}
.footer__collection h2{
    text-align: center;
    margin-top: 70px;
    font-size: 27px;
}
.footer__collection p{
    padding-left: 110px;
    margin-top: 23px;
}
.blog p{
    padding-left: 60px;
}
.compony p{
    padding-left: 100px;
}
.footer__midle-img{
    width: 40%;
    height: 100%;

}
.footer__midle-img img{
    width: 220px;
    display: block;
    margin: auto;
    margin-top: 70px;
}
.footer__collection svg{
    display: none;
}

























@media screen and (max-width: 950px){
    .footer__midle{
     display: block;
     margin-top: 280px;
    }
    .footer__collection p{
        display: none;
    }
    .footer__collection{
        height: 100px;
        width: 100%;
    }
    .footer__collection h2{
text-align: left;
margin-left: 30px;
margin-top: 20px;
    }
    .footer__midle-img{
        display: none;
    }
    .footer__collection svg{
        display: block;
        margin-left: 700px;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 800px){
    .footer__top{
        display: block;
    }
    .footertop__title{
        width: 100%;
        border-bottom: 1px solid #eee;
    }
    .footer__input{
        background: #000;
        width: 100%;
    }
    
}
@media screen and (max-width: 600px){
    .footer__collection svg{
        margin-left: 380px;
    }
    .footer__midle{
        margin-top: 300px;
    }
}
@media screen and (max-width: 400px) {
    .footer__collection svg{
        margin-left: 330px;
    }
}