.navbar__bottom{
    width: 100%;
    height: 600px;
}
.navbar__bottom img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 990px){
    .navbar__bottom{
        height: 350px;
    }
}
@media screen and (max-width: 800px){
    .navbar__bottom{
        height: 280px;
    }
}
@media screen and (max-width: 600px){
    .navbar__bottom{
        height: 220px;
    }
}
@media screen and (max-width: 450px){
    .navbar__bottom{
        height: 180px;
    }
}