.navbar__bottom{
    width: 100%;
    height: 600px;
    background: url("../../assets/HyperX_Pulsefire_Haste_2_Mini_homepage_hero_desktop_2880x1300_6b418d9a-5de3-44f5-a20a-080fbadbf3b3_1944x.jpg") no-repeat center/cover;
}


@media screen and (max-width: 990px){
    .navbar__bottom{
        height: 350px;
    }
}
@media screen and (max-width: 800px){
    .navbar__bottom{
        height: 280px;
    }
}
@media screen and (max-width: 600px){
    .navbar__bottom{
        height: 220px;
    }
}
@media screen and (max-width: 450px){
    .navbar__bottom{
        height: 180px;
    }
}